<div class="table-responsive">
  <h1>Liste des factures</h1>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Reference</th>
        <th>Id devis</th>

        <th>Client</th>
        <th>Date</th>
        <th>TotalHT</th>
        <th>TotalTTC</th>
        <th>Status</th>
        <th>Consulter facture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fac of factures; let i = index">
        <td>{{ i + 1 }}</td>
        <td [title]="fac.ref">
          {{
            fac.ref.length > 10 ? (fac.ref | slice : 0 : 10) + "..." : fac.ref
          }}
        </td>
        <td>
          <a
            style="cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
            (click)="setSelectedDevis(fac.devis)"
            >{{ fac.devis.id }}</a
          >
        </td>

        <td>{{ fac.devis.client.nom }} {{ fac.devis.client.prenom }}</td>
        <td>{{ fac.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ fac.totalHT + " DT" }}</td>
        <td>{{ fac.totalTTC + " DT" }}</td>
        <td
          [ngClass]="{
            'text-success': fac.status === 'paid',
            'text-danger': fac.status === 'Not Paid',
            'text-warning': fac.status === 'Partially Paid'
          }"
        >
          <strong>{{ fac.status }}</strong>
        </td>
        <td>
          <a [routerLink]="['/factures', fac.devis.id]" class="btn btn-success">
            Consulter facture
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="perPage"
      [collectionSize]="totalItems"
      (pageChange)="goToPage($event)"
    />
  </div>
</div>

<div
  class="modal fade"
  id="modalId"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h5>Client</h5>
            <p>
              {{ selectedDevis?.client.nom }} {{ selectedDevis?.client.prenom }}
            </p>
          </div>

          <div class="col-12">
            <h5>Date</h5>
            <p>{{ selectedDevis?.date | date : "dd/MM/yyyy" }}</p>
          </div>
          <div class="col-12">
            <h5>Valide jusqu'a</h5>
            <p>{{ selectedDevis?.valid_until | date : "dd/MM/yyyy" }}</p>
          </div>

          <div class="col-12">
            <h5>Produits</h5>
            <ul>
              <li *ngFor="let produit of selectedDevis?.produits">
                {{ produit.titre }}
                <ul>
                  <li>Prix Gros: {{ produit.prixGros }}</li>
                  <li>Prix Vente: {{ produit.prixVente }}</li>
                  <li>Quantité: {{ produit.pivot.qte }}</li>
                  <li>Accessoires:</li>
                  <ul *ngFor="let acc of produit.accessoires; let i = index">
                    <li>{{ i + 1 }}- {{ acc.titre }}</li>
                    <li>Quantité: {{ acc.pivot.qte }}</li>
                  </ul>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
