<nav
  class="navbar navbar-expand-md navbar-dark bg-dark"
  style="padding-left: 1rem"
>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    aria-controls="navbarNav"
    aria-expanded="!isCollapsed"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngbCollapse]="isCollapsed"
    class="collapse navbar-collapse"
    id="navbarNav"
  >
    <ul class="navbar-nav me-auto">
      <li class="nav-item" *ngFor="let item of links">
        <a
          class="nav-link"
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>

    <div class="d-flex ms-auto" *ngIf="isAuth">
      <button class="btn btn-sm btn-danger" (click)="logout()">Sign Out</button>
    </div>
  </div>
</nav>
