<h1>Liste des devis</h1>
<div class="d-flex justify-content-between gap-2">
  <div class="col-md-4">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchDevis()"
    />
  </div>
  <a routerLink="/devis/create2" class="btn btn-success">Ajouter un devis</a>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Date</th>

        <th>Taxe(s)</th>
        <th>Etat</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let devis of devisList; let i = index">
        <td>{{ devis.client.nom }} {{ devis.client.prenom }}</td>
        <td>{{ devis.date | date : "dd/MM/yyyy" }}</td>

        <td>
          <ul *ngFor="let t of devis.taxes">
            <li>{{ t.name }}: {{ t.rate }} %</li>
          </ul>
        </td>

        <td>
          <p
            style="width: fit-content"
            class="rounded-pill border text-center px-2"
            [ngClass]="{
              'text-success border-success': devis.status === STATUS_DONE,
              'text-warning border-warning': devis.status === STATUS_STILL,
              'text-danger border-danger': devis.status === STATUS_REFUSED
            }"
          >
            {{ returnStatus(devis.status) }}
          </p>
        </td>
        <td class="d-flex gap-3">
          <!-- <button
            (click)="setSelectedDevis(devis)"
            class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
          > -->
          <a class="btn btn-info" [routerLink]="['/devis', devis.id]">
            <i class="bi bi-info-circle"></i>
          </a>
          <a
            *ngIf="devis.status === STATUS_STILL"
            [routerLink]="['/devis', 'edit2', devis.id]"
            class="btn btn-secondary"
          >
            <i class="bi bi-pencil"></i>
          </a>

          <button
            (click)="openConfirmationModal(devis.id)"
            class="btn btn-danger"
          >
            <i class="bi bi-trash"></i>
          </button>
          <a
            *ngIf="devis.status == STATUS_STILL"
            [routerLink]="['/factures', 'add-facture', devis.id]"
            class="btn btn-secondary"
          >
            Generer Facture
          </a>
          <a
            *ngIf="devis.status == STATUS_DONE"
            [routerLink]="['/factures', devis.id]"
            class="btn btn-success"
          >
            Consulter facture
          </a>
          <a
            [routerLink]="['/devis', 'accessoires', devis.id]"
            class="btn btn-secondary"
          >
            Generer Accessoires
          </a>
          <button
            class="btn btn-success"
            [disabled]="currentlyProcessingId === devis.id"
            (click)="sendDevis(devis.id)"
          >
            <div *ngIf="currentlyProcessingId !== devis.id">
              Envoyer à Mr {{ devis.client.nom }}
            </div>
            <div *ngIf="currentlyProcessingId === devis.id">
              <i class="bi bi-hourglass-split"></i> Loading...
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <ngb-pagination
    [(page)]="currentPage"
    [pageSize]="perPage"
    [collectionSize]="totalItems"
    (pageChange)="goToPage($event)"
  />
</div>

<div
  class="modal fade"
  id="modalId"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h5>Client</h5>
            <p>{{ selectedDevis?.idClient }}</p>
          </div>

          <div class="col-12">
            <h5>Date</h5>
            <p>{{ selectedDevis?.date | date : "dd/MM/yyyy" }}</p>
          </div>
          <div class="col-12">
            <h5>Valide jusqu'a</h5>
            <p>{{ selectedDevis?.valid_until | date : "dd/MM/yyyy" }}</p>
          </div>
          <div class="col-12">
            <h5>Produits</h5>
            <ul>
              <li *ngFor="let produit of selectedDevis?.produits">
                {{ produit.titre }}
                <ul>
                  <li>Prix Gros: {{ produit.prixGros }}</li>
                  <li>Prix Vente: {{ produit.prixVente }}</li>
                  <li>Quantité: {{ produit.pivot.qte }}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
