<div class="card trinta-card users-list-card mb-4 bg-white border-0">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mt-0 mb-0">Clients List</h5>
    <form class="search-box position-relative">
      <input
        type="text"
        class="form-control"
        placeholder="Search here.."
        [(ngModel)]="searchQuery"
        (ngModelChange)="searchProduct()"
        name="searchQuery"
      />
      <button
        type="button"
        class="btn btn-transparent position-absolute end-0 top-0"
      >
        <i class="ri-search-line"></i>
      </button>
    </form>
  </div>
  <div class="card-body">
    <div class="users-list-table">
      <a class="btn btn-success mb-3" [routerLink]="['add']">Add Client</a>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Client</th>
              <th>Tel1</th>
              <th>Nom societe</th>
              <th>Email</th>
              <th>Address</th>
              <!-- <th>Name</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of dataSource">
              <!-- Client Column -->
              <td class="pl-0">
                <div class="user-info d-flex align-items-center gap-3">
                  <div class="pr-3">
                    <img
                      [src]="returnImg(element.logo)"
                      alt="client"
                      width="80px"
                      height="80px"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="info">
                    <h6>{{ element.nom + " " + element.prenom }}</h6>
                    <!-- <span>{{ element.tel1 }}</span> -->
                  </div>
                </div>
              </td>

              <!-- Tel1 Column -->
              <td>{{ element.tel2 }}</td>

              <!-- Nom Societe Column -->
              <td class="text-primary">{{ element.nom_societe }}</td>

              <!-- Email Column -->
              <td>{{ element.email }}</td>

              <!-- Address Column -->
              <td>{{ element.adresse }}</td>

              <!-- Name Column -->
              <!-- <td>{{ element.nom }}</td> -->

              <!-- Actions Column -->
              <td class="action">
                <a
                  class="btn btn-outline-primary btn-sm me-2"
                  [routerLink]="['edit', element.id]"
                  >Edit</a
                >
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteClient(element.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [(page)]="currentPage"
          [pageSize]="perPage"
          [collectionSize]="totalItems"
          (pageChange)="goToPage($event)"
        />
      </div>
    </div>
  </div>
</div>
